<h2>Witaj w Metallica Family!</h2>
<div id="chat-box">
  <%= for message <- @messages do %>
    <p><b><%= message.name %>:</b> <%= message.body %></p>
  <% end %>
</div>

<form id="chat-form">
  <input type="text" placeholder="Nazwa użytkownika" id="user-name"><br>
  <textarea placeholder="Twój komentarz" id="user-msg"></textarea>
  <button type="submit">Post</button>
</form>
  